.bundle
.env.local
.env.development.local
.idea
.rspec-examples
db/*.sqlite3
./log/
log/*.log
tmp/
db/schema.rb
*.sql
!structure.sql
public/system
*.DS_Store
coverage/*
*.sw[op]
rerun.txt
tags
!.keep
vendor/bundler_gems
chromedriver.log
public/assets
public/internal-assets
public/dist/*
public/dist
public/growth_charts/
.sass-cache
spec/javascripts/generated/**/*
log/diagnostic.txt
logfile
.fuci-team_city.rb
.env
./.fuci-team_city.rb
node_modules/*
.byebug_history
npm-debug.log
yarn-error.log
.jshintrc
.vscode
yarn-error.log
*.gem
